[importlinter]
root_package = ai_sonar_bot

[importlinter:contract:layers]
name = Enforce application layers
type = layers
layers =
    ai_sonar_bot.cli
    ai_sonar_bot.runner
    ai_sonar_bot.services
    ai_sonar_bot.providers
    ai_sonar_bot.models
    ai_sonar_bot.utils
