[importlinter]
root_package = zeroone_ops

[importlinter:contract:layers]
name = Enforce application layers
type = layers
layers =
    zeroone_ops.cli
    zeroone_ops.runner
    zeroone_ops.services
    zeroone_ops.providers
    zeroone_ops.models
    zeroone_ops.utils
